body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #95a5a6;
}
.search-container {
  position: absolute;
  margin-top: 15px; /* Відступ від меню */
  transform: translateX(320px); /* Зміщення вправо на 20px */
}
* {
  box-sizing: border-box;
}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.inp-search {
  width: 200px;
  height: 40px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #fffffe;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}
.inp-search:focus {
  width: 250px;
}
.search-btn {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: 2px;
  right: 0;
}
/* .search-btn:before {
  
  font-family: FontAwesome;
  color: #324b4e;
} */
/* має бути іконка але ПЛАТНО */

.inp-calendar {
  margin-top: 20xp;
  width: 200px;
  height: 40px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #fffffe;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}

.cont-headr {
  display: flex;
  flex-direction: wrap;
}
